Part 1 Data Description

|Type|Product|DataColumns|Source|Status|Owner|TimeRange|
|-|-|-|-|-|-|-|
|Equity|SP500 index|Open_SnP500,High_SnP500,Low_SnP500,Close_SnP500,Adj Close_SnP500,Volume_SnP500|finance.yahoo.com|Done|Jiahang|1927/12/30-2020/6/19|
|Equity|SP500 Futures|Price_SNPFu,Open_SNPFu,High_SNPFu,Low_SNPFu,Vol._SNPFu,Change_SNPFu|investing.com|Done|JiaHang|1997/9/10-2020/6/19|
|Equity|SP500 returns|vwretd,vwretx,ewretd,ewretx,totval,sprtrn|wrds|Done|JiaHang|1926/1/2-2020/3/31|
|Equity|SPY|Open_SPY,High_SPY,Low_SPY,Close_SPY,Adj Close_SPY,Volume_SPY|finance.yahoo.com|Done|JiaHang|1993/1/29-2020/6/19|
|Equity|JP Nikkei225|Open_SPY,High_SPY,Low_SPY,Close_SPY,Adj Close_SPY,Volume_SPY|finance.yahoo.com|Done|JiaHang|1965/1/5-2020/6/19|
|Equity|UK FTSE100|open, close, high, low, vol, change|investing.com|Done|JiaHang|2001/1/3-2020/6/19|
|Equity|HK Hang Seng|Open_SPY,High_SPY,Low_SPY,Close_SPY,Adj Close_SPY,Volume_SPY|finance.yahoo.com|Done|JiaHang|1986/12/31-2020/6/19|
|Bond|2Y Treasury Yield|open, close, high, low|investing.com|Done|Yudong|1988/02/26-2020/06/19|
|Bond|10Y Treasury Yield|open, close, high, low|investing.com|Done|Yudong|1988/02/26-2020/06/19|
|Bond|30Y Treasury Yield|open, close, high, low|investing.com|Done|Yudong|1988/02/26-2020/06/19|
|FX|Dollar Index|open, close, high, low|investing.com|Done|Yudong|1990/01/01-2020/06/19|
|Commodity|Gold|open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|Palladium|open, close, high, low, vol, change|investing.com|Done|JiaHang|2007/2/28-2020/06/19|
|Commodity|Platinum|open, close, high, low, vol, change|investing.com|Done|JiaHang|2009/10/14-2020/06/19|
|Commodity|Silver|open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|Aluminium Premium Duty paid US|open, close, high, low, vol, change|investing.com|Done|JiaHang|2019/3/12-2020/06/19|
|Commodity|Copper|open, close, high, low, vol, change|investing.com|Done|JiaHang|1988/8/1-2020/06/19|
|Commodity|Iron ore fines 62% Fe CFR|open, close, high, low, vol, change|investing.com|Done|JiaHang|2010/10/25-2020/06/19|
|Commodity|Lead|open, close, high, low, vol, change|investing.com|Done|JiaHang|2008/7/7-2020/06/19|
|Commodity|Nickel|open, close, high, low, vol, change|investing.com|Done|JiaHang|2008/7/7-2020/06/19|
|Commodity|Tin|open, close, high, low, vol, change|investing.com|Done|JiaHang|2008/7/7-2020/06/19|
|Commodity|Zinc|open, close, high, low, vol, change|investing.com|Done|JiaHang|2008/2/18-2020/06/19|
|Commodity|Brent Oil|open, close, high, low, vol, change|investing.com|Done|JiaHang|1988/6/27-2020/06/19|
|Commodity|Crude Oil WTI|open, close, high, low, vol, change|investing.com|Done|JiaHang|1983/3/31-2020/06/19|
|Commodity|Ethanol|open, close, high, low, vol, change|investing.com|Done|JiaHang|2005/4/12-2020/06/19|
|Commodity|Gasoline RBOB|open, close, high, low, vol, change|investing.com|Done|JiaHang|2005/10/4-2020/06/19|
|Commodity|Heating Oil|open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27--2020/06/19|
|Commodity|Natural Gas|open, close, high, low, vol, change|investing.com|Done|JiaHang|1990/4/4-2020/06/19|
|Commodity|Uranium|open, close, high, low, vol, change|investing.com|Done|JiaHang|2007/5/8-2020/06/19|
|Commodity|Class III Milk|open, close, high, low, vol, change|investing.com|Done|JiaHang|1998/2/25-2020/06/19|
|Commodity|Feeder Cattle|open, close, high, low, vol, change|investing.com|Done|JiaHang|2013/8/9-2020/06/19|
|Commodity|Lean Hogs|open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|Live Cattle|open, close, high, low, vol, change|investing.com|Done|JiaHang|1980/1/3-2020/06/19|
|Commodity|Lumber|open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|Oats|open, close, high, low, vol, change|investing.com|Done|JiaHang|2008/7/15-2020/06/19|
|Commodity|Orange Juice|open, close, high, low, vol, change|investing.com|Done|JiaHang|2007/3/28-2020/06/19|
|Commodity|Rough Rice|open, close, high, low, vol, change|investing.com|Done|JiaHang|2007/1/19-2020/06/19|
|Commodity|US Cocoa|open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|US Coffee C |open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|US Corn |open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|US Cotton #2|open, close, high, low, vol, change|investing.com|Done|JiaHang|2009/10/14-2020/06/19|
|Commodity|US Soybean Meal|open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|US Soybean Oil |open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|US Soybeans |open, close, high, low, vol, change|investing.com|Done|JiaHang|1990/1/2-2020/06/19|
|Commodity|US Sugar #11 |open, close, high, low, vol, change|investing.com|Done|JiaHang|1979/12/27-2020/06/19|
|Commodity|US Wheat|open, close, high, low, vol, change|investing.com|Done|JiaHang|1990/1/2-2020/06/19|
|Others|VIX|Price_VIX,Open_VIX,High_VIX,Low_VIX	Change_VIX|finance.yahoo.com|Done|JiaHang|1990/1/3-2020/06/19|
|Others|FF5|Mkt-RF,SMB,HML,RMW,CMA,RF|finance.yahoo.com|Done|JiaHang|1963/7/1-2020/4/30|

part2 data cleaning

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
path1='data/'
path2='output/'

In [51]:
notnum=[]
def change_to_num(x):
    global notnum
    if type(x)==str:
        x=x.replace(',','')
        if x[-1]=='M':
            return float(x[:-1])*1e6
        elif x[-1]=='B':
            return float(x[:-1])*1e9
        elif x[-1]=='K':
            return float(x[:-1])*1e3  
        elif x[-1]=='%':
            return float(x[:-1].replace(',',''))*1e-2
        elif x=='-':
            return np.nan
        return float(x)
    else:
        if x==x:
            return x
        else:
            notnum+=[str(x)]

$\large{Bond}$

In [26]:
Treasury_Yield_2Y=pd.read_csv(path1+'Bond/2Y_Treasury_Yield.csv',index_col=0,parse_dates=True)
Treasury_Yield_2Y['Change']=Treasury_Yield_2Y['Change %'].map(change_to_num)
Treasury_Yield_2Y.drop(columns=['Change %'],inplace=True)
Treasury_Yield_2Y.columns=np.array(Treasury_Yield_2Y.columns)+'_Yield2y'
Treasury_Yield_2Y=Treasury_Yield_2Y.iloc[::-1,:]
Treasury_Yield_2Y

,Price_Yield2y,Open_Yield2y,High_Yield2y,Low_Yield2y,Change_Yield2y
Date,,,,,
1988-02-26,7.159,7.159,7.159,7.159,-0.0047
1988-02-29,7.125,7.125,7.125,7.125,-0.0047
1988-03-01,7.108,7.108,7.108,7.108,-0.0024
1988-03-02,7.090,7.090,7.090,7.090,-0.0025
1988-03-03,7.090,7.090,7.090,7.090,0.0000
...,...,...,...,...,...
2020-06-15,0.193,0.183,0.197,0.177,-0.0097
2020-06-16,0.197,0.199,0.205,0.187,0.0212
2020-06-17,0.195,0.205,0.205,0.193,-0.0096
2020-06-18,0.195,0.195,0.199,0.189,0.0000
2020-06-19,0.190,0.195,0.200,0.182,-0.0292

In [27]:
Treasury_Yield_10Y=pd.read_csv(path1+'Bond/10Y_Treasury_Yield.csv',index_col=0,parse_dates=True)
Treasury_Yield_10Y['Change']=Treasury_Yield_10Y['Change %'].map(change_to_num)
Treasury_Yield_10Y.drop(columns=['Change %'],inplace=True)
Treasury_Yield_10Y.columns=np.array(Treasury_Yield_10Y.columns)+'_Yield10y'
Treasury_Yield_10Y=Treasury_Yield_10Y.iloc[::-1,:]
Treasury_Yield_10Y

,Price_Yield10y,Open_Yield10y,High_Yield10y,Low_Yield10y,Change_Yield10y
Date,,,,,
1988-02-26,8.180,8.180,8.180,8.180,-0.0040
1988-02-29,8.152,8.152,8.152,8.152,-0.0034
1988-03-01,8.152,8.152,8.152,8.152,0.0000
1988-03-02,8.124,8.124,8.124,8.124,-0.0034
1988-03-03,8.124,8.124,8.124,8.124,0.0000
...,...,...,...,...,...
2020-06-15,0.720,0.666,0.723,0.653,0.0139
2020-06-16,0.741,0.756,0.784,0.723,0.0297
2020-06-17,0.733,0.763,0.763,0.725,-0.0111
2020-06-18,0.707,0.731,0.731,0.692,-0.0359
2020-06-19,0.694,0.707,0.745,0.687,-0.0185

In [28]:
Treasury_Yield_30Y=pd.read_csv(path1+'Bond/30Y_Treasury_Yield.csv',index_col=0,parse_dates=True)
Treasury_Yield_30Y['Change']=Treasury_Yield_30Y['Change %'].map(change_to_num)
Treasury_Yield_30Y.drop(columns=['Change %'],inplace=True)
Treasury_Yield_30Y.columns=np.array(Treasury_Yield_30Y.columns)+'_Yield30y'
Treasury_Yield_30Y=Treasury_Yield_30Y.iloc[::-1,:]
Treasury_Yield_30Y

,Price_Yield30y,Open_Yield30y,High_Yield30y,Low_Yield30y,Change_Yield30y
Date,,,,,
1988-02-26,8.377,8.377,8.377,8.377,-0.0069
1988-02-29,8.358,8.358,8.358,8.358,-0.0023
1988-03-01,8.352,8.352,8.352,8.352,-0.0007
1988-03-02,8.331,8.331,8.331,8.331,-0.0025
1988-03-03,8.314,8.314,8.314,8.314,-0.0020
...,...,...,...,...,...
2020-06-15,1.462,1.408,1.465,1.386,0.0009
2020-06-16,1.530,1.508,1.582,1.484,0.0465
2020-06-17,1.525,1.550,1.561,1.506,-0.0035
2020-06-18,1.480,1.524,1.525,1.459,-0.0296
2020-06-19,1.462,1.485,1.528,1.457,-0.0117

In [29]:
Bond=pd.concat([Treasury_Yield_2Y,Treasury_Yield_10Y,Treasury_Yield_30Y],axis=1,join='outer')
Bond.describe()
Bond.to_csv(path2+'Bond.csv')

$\large{FX}$

In [30]:
Dollar_index=pd.read_csv(path1+'FX/US Dollar Index Historical Data.csv',index_col=0,parse_dates=True)
Dollar_index['Change']=Dollar_index['Change %'].map(change_to_num)
Dollar_index.drop(columns=['Change %'],inplace=True)
Dollar_index.columns=np.array(Dollar_index.columns)+'_Dollar_index'
Dollar_index=Dollar_index.iloc[::-1,:]
Dollar_index.describe()

,Price_Dollar_index,Open_Dollar_index,High_Dollar_index,Low_Dollar_index,Change_Dollar_index
count,7898.000000,7898.000000,7898.000000,7898.000000,7898.000000
mean,91.069968,91.072207,91.400869,90.747507,0.000019
std,10.048488,10.048194,10.081111,10.012715,0.005053
min,71.330000,71.330000,71.690000,70.700000,-0.030200
25%,83.032500,83.050000,83.340000,82.687500,-0.002800
50%,90.065000,90.070000,90.410000,89.760000,0.000000
75%,97.060000,97.057500,97.330000,96.745000,0.002800
max,120.900000,120.760000,121.020000,119.860000,0.028900

In [31]:
FX=Dollar_index
FX.to_csv(path2+'FX.csv')

$\large{Commodity}$

In [35]:
folder=['PRECIOUS METALS','INDUSTRIAL METALS','ENERGY','AGRICULTURE']
PRECIOUS_METALS,INDUSTRIAL_METALS,ENERGY,AGRICULTURE=np.nan,np.nan,np.nan,np.nan
mid_df=[PRECIOUS_METALS,INDUSTRIAL_METALS,ENERGY,AGRICULTURE]
for i in range(len(folder)):
    df={}
    f=folder[i]
    for info in os.listdir('data/Commodity/'+f):
        domain = os.path.abspath(r'data/Commodity/'+f) #获取文件夹的路径
        data = pd.read_csv(os.path.join(domain,info),index_col=0,parse_dates=True)
        df[info]=data
    for key in df.keys():
        data=df[key]
        data['Vol.']=data['Vol.'].map(change_to_num)
        data['Change']=data['Change %'].map(change_to_num)
        data.drop(columns=['Change %'],inplace=True)
        data[['Price','Open','High','Low']] = data[['Price','Open','High','Low']].applymap(change_to_num)
        data.columns=np.array(data.columns)+'_'+key[:-28]
        df[key]=data
    mid_df[i]=pd.concat([df[key] for key in df.keys()],axis=1,join='outer')
Commodity=pd.concat(mid_df,axis=1,join='outer')

In [36]:
Commodity.describe()

,Price_Gold,Open_Gold,High_Gold,Low_Gold,Vol._Gold,Change_Gold,Price_Palladium,Open_Palladium,High_Palladium,Low_Palladium,...,High_US Sugar #11,Low_US Sugar #11,Vol._US Sugar #11,Change_US Sugar #11,Price_US Wheat,Open_US Wheat,High_US Wheat,Low_US Wheat,Vol._US Wheat,Change_US Wheat
count,10271.000000,10271.000000,10271.000000,10271.000000,8399.000000,10271.000000,3059.000000,3059.000000,3059.000000,3059.000000,...,10194.000000,10194.000000,9972.000000,10194.000000,7980.000000,7980.000000,7980.000000,7980.000000,3.760000e+03,7980.000000
mean,685.633616,678.028994,681.117411,674.641896,3216.986546,0.000209,854.829448,854.197954,864.160389,844.097941,...,12.538009,12.188811,24641.835138,0.000356,453.817043,453.789614,459.771325,447.947865,2.154729e+04,0.000241
std,455.917336,445.728834,448.530768,442.685770,17888.555044,0.013241,417.100139,416.895380,425.138224,408.295448,...,6.242399,6.026283,25383.143022,0.028050,167.467876,168.148569,171.799738,164.700966,5.263473e+04,0.021034
min,253.000000,252.900000,252.900000,252.500000,0.000000,-0.173800,162.100000,157.750000,157.750000,157.750000,...,2.700000,2.300000,0.000000,-0.305200,224.000000,0.000000,0.000000,0.000000,1.000000e+01,-0.248800
25%,354.650000,354.650000,355.400000,354.000000,30.000000,-0.004800,622.700000,622.875000,629.450000,614.475000,...,8.440000,8.230000,6150.000000,-0.012500,325.250000,325.750000,329.437500,321.500000,4.932500e+03,-0.010800
50%,416.900000,417.000000,418.500000,415.000000,130.000000,0.000000,750.750000,750.200000,756.100000,744.100000,...,11.230000,10.950000,13955.000000,0.000000,415.250000,415.560000,419.875000,409.060000,1.212000e+04,-0.000150
75%,1166.650000,1133.000000,1139.100000,1127.500000,530.000000,0.005400,944.200000,944.150000,953.250000,935.100000,...,14.850000,14.500000,38495.000000,0.012500,527.000000,527.250000,534.000000,520.282500,2.272500e+04,0.010300
max,1888.700000,1909.000000,1911.600000,1864.000000,273680.000000,0.130500,2781.200000,2781.200000,2789.100000,2640.000000,...,44.800000,44.300000,205670.000000,0.550600,1280.000000,1252.750000,1334.500000,1245.000000,1.080000e+06,0.262300

In [37]:
Commodity.to_csv(path2+'Commodity.csv')

$\large{Equity}$

In [52]:
df={}
for info in os.listdir('data/Equity/'):
    domain = os.path.abspath(r'data/Equity/') #获取文件夹的路径
    data = pd.read_csv(os.path.join(domain,info),index_col=0,parse_dates=True)
    df[info]=data
for key in df.keys():
    data=df[key]
    data_num=data.applymap(change_to_num)
    data_num.columns=np.array(data_num.columns)+'_'+key.split()[0].split('.')[0]
    df[key]=data_num
Equity=pd.concat([df[key] for key in df.keys()],axis=1,join='outer')
print(np.unique(notnum)) #data中存在的缺失数据以什么表示

['nan']

In [53]:
Equity.describe()

,Price_FTSE100,Open_FTSE100,High_FTSE100,Low_FTSE100,Vol._FTSE100,Change %_FTSE100,Price_S&P500,Open_S&P500,High_S&P500,Low_S&P500,...,Low_^N225,Close_^N225,Adj Close_^N225,Volume_^N225,Open_^S&P500,High_^S&P500,Low_^S&P500,Close_^S&P500,Adj Close_^S&P500,Volume_^S&P500
count,4916.000000,4916.000000,4916.000000,4916.000000,2.238000e+03,4916.000000,5820.000000,5820.000000,5820.000000,5820.000000,...,13646.000000,13646.000000,13646.000000,13646.000000,23227.000000,23227.000000,23227.000000,23227.000000,23227.000000,2.322700e+04
mean,5870.122016,5870.181591,5908.789886,5830.063127,7.958309e+08,0.000076,1575.066749,1574.424739,1585.842416,1562.548457,...,12556.852350,12625.864203,12625.864203,39255.642679,475.086872,477.876351,472.113317,475.182031,475.182031,7.545319e+08
std,1034.610878,1034.629686,1031.788892,1037.856419,2.552959e+08,0.011971,607.568761,606.952676,609.569242,604.545040,...,7844.049981,7895.222109,7895.222109,64137.726213,704.277613,708.022512,700.173220,704.366341,704.366341,1.469723e+09
min,3287.000000,3287.000000,3466.400000,3277.500000,1.016700e+08,-0.108700,676.000000,674.750000,694.750000,665.750000,...,1020.489990,1020.489990,1020.489990,0.000000,4.400000,4.400000,4.400000,4.400000,4.400000,0.000000e+00
25%,5178.575000,5179.350000,5227.275000,5136.800000,6.524575e+08,-0.005300,1140.250000,1140.250000,1148.375000,1131.000000,...,5955.989868,5955.989868,5955.989868,0.000000,23.780001,23.780001,23.780001,23.780001,23.780001,1.260000e+06
50%,5901.600000,5901.950000,5938.500000,5869.020000,7.587200e+08,0.000400,1346.250000,1346.125000,1356.500000,1333.000000,...,11474.194824,11534.535156,11534.535156,0.000000,99.209999,100.019997,98.459999,99.220001,99.220001,1.702000e+07
75%,6679.227500,6679.227500,6714.737500,6646.455000,8.844700e+08,0.005800,1973.437500,1971.937500,1982.437500,1962.125000,...,18059.689941,18170.879883,18170.879883,79175.000000,798.554993,807.350006,789.575012,799.295014,799.295014,5.047700e+08
max,7877.450000,7877.450000,7903.500000,7854.580000,3.880000e+09,0.098400,3387.380000,3391.750000,3397.500000,3382.620000,...,38827.710938,38915.871094,38915.871094,595200.000000,3380.449951,3393.520020,3378.830078,3386.149902,3386.149902,1.145623e+10

In [54]:
Equity.to_csv(path2+'Equity.csv')

$\large{Other}$

In [21]:
VIX=pd.read_csv(path1+'Other\CBOE Volatility Index Historical Data_2.csv',index_col=0,parse_dates=True)
VIX['Vol.']=VIX['Vol.'].map(change_to_num)
VIX['Change']=VIX['Change %'].map(change_to_num)
VIX.drop(columns=['Change %'],inplace=True)
VIX.columns=np.array(VIX.columns)+'_VIX'

In [22]:
FF5=pd.read_csv(path1+'Other\F-F_Research_Data_5_Factors_2x3_daily.csv',index_col=0,parse_dates=True)

In [24]:
Other=pd.concat([VIX,FF5],axis=1,join='outer')
Other.describe()

,Price_VIX,Open_VIX,High_VIX,Low_VIX,Change_VIX,Mkt-RF,SMB,HML,RMW,CMA,RF
count,7674.000000,7674.000000,7674.000000,7674.000000,7674.000000,14306.000000,14306.000000,14306.000000,14306.000000,14306.000000,14306.000000
mean,19.355887,19.420154,20.193154,18.713518,0.002360,0.025392,0.006578,0.013188,0.012705,0.012873,0.017907
std,8.122442,8.190531,8.646752,7.687318,0.069478,1.011316,0.525657,0.515960,0.368005,0.364340,0.012490
min,9.140000,9.010000,9.310000,8.560000,-0.295700,-17.440000,-11.170000,-4.720000,-2.920000,-5.940000,0.000000
25%,13.580000,13.620000,14.240000,13.130000,-0.036675,-0.410000,-0.270000,-0.230000,-0.170000,-0.170000,0.008000
50%,17.300000,17.315000,17.910000,16.725000,-0.003500,0.050000,0.020000,0.010000,0.010000,0.010000,0.018000
75%,22.660000,22.777500,23.547500,22.057500,0.032700,0.490000,0.300000,0.240000,0.180000,0.190000,0.024000
max,82.690000,82.690000,89.530000,72.760000,1.156000,11.350000,6.080000,4.830000,4.400000,2.530000,0.061000

In [25]:
Other.to_csv(path2+'Other.csv')

$\large{Full}$

In [39]:
full=pd.concat([Bond,FX,Commodity,Equity,Other],axis=1,join='outer')
full.describe()

,Price_Yield2y,Open_Yield2y,High_Yield2y,Low_Yield2y,Change_Yield2y,Price_Yield10y,Open_Yield10y,High_Yield10y,Low_Yield10y,Change_Yield10y,...,Open_VIX,High_VIX,Low_VIX,Change_VIX,Mkt-RF,SMB,HML,RMW,CMA,RF
count,8809.000000,8809.000000,8809.000000,8809.000000,8809.000000,8582.000000,8582.000000,8582.000000,8582.000000,8582.000000,...,7674.000000,7674.000000,7674.000000,7674.000000,14306.000000,14306.000000,14306.000000,14306.000000,14306.000000,14306.000000
mean,3.371030,3.371311,3.375519,3.366593,0.000171,4.559009,4.559152,4.565589,4.552284,-0.000090,...,19.420154,20.193154,18.713518,0.002360,0.025392,0.006578,0.013188,0.012705,0.012873,0.017907
std,2.507918,2.507634,2.504021,2.511721,0.034180,2.144080,2.143958,2.136797,2.151669,0.019909,...,8.190531,8.646752,7.687318,0.069478,1.011316,0.525657,0.515960,0.368005,0.364340,0.012490
min,0.139000,0.135000,0.145000,0.105000,-0.401400,0.502000,0.501000,0.507000,0.318000,-0.349900,...,9.010000,9.310000,8.560000,-0.295700,-17.440000,-11.170000,-4.720000,-2.920000,-5.940000,0.000000
25%,0.952000,0.954000,0.959000,0.948000,-0.009700,2.615000,2.615000,2.636250,2.599000,-0.008000,...,13.620000,14.240000,13.130000,-0.036675,-0.410000,-0.270000,-0.230000,-0.170000,-0.170000,0.008000
50%,2.862000,2.863000,2.874000,2.854000,0.000000,4.370500,4.370500,4.370500,4.370500,0.000000,...,17.315000,17.910000,16.725000,-0.003500,0.050000,0.020000,0.010000,0.010000,0.010000,0.018000
75%,5.475000,5.475000,5.475000,5.475000,0.009200,6.106000,6.106000,6.106000,6.106000,0.007200,...,22.777500,23.547500,22.057500,0.032700,0.490000,0.300000,0.240000,0.180000,0.190000,0.024000
max,9.911000,9.911000,9.911000,9.911000,0.368800,9.525000,9.525000,9.525000,9.525000,0.444600,...,82.690000,89.530000,72.760000,1.156000,11.350000,6.080000,4.830000,4.400000,2.530000,0.061000

In [40]:
full.to_csv(path2+'full.csv')